# Ejm_1 Dict

In [1]:
success_estimates = {
        'Australia': [0.6, 0.33, 0.11, 0.14],
        'France': [0.66, 0.78, 0.98, 0.2],
        'Italy': [0.6],
        'Brazil': [0.22, 0.22, 0.43],
        'USA': [0.2, 0.5, 0.3],
        'England': [0.45],
        'Canada': [0.25, 0.3],
        'Argentina': [0.22],
        'Greece': [0.45, 0.66, 0.75, 0.99, 0.15, 0.66],
        'Morocco': [0.29],
        'Tunisia': [0.68, 0.56],
        'Egypt': [0.99],
        'Jamaica': [0.61, 0.65, 0.71],
        'Switzerland': [0.73, 0.86, 0.84, 0.51, 0.99],
        'Germany': [0.45, 0.49, 0.36]
    } 
success_estimates

{'Australia': [0.6, 0.33, 0.11, 0.14],
 'France': [0.66, 0.78, 0.98, 0.2],
 'Italy': [0.6],
 'Brazil': [0.22, 0.22, 0.43],
 'USA': [0.2, 0.5, 0.3],
 'England': [0.45],
 'Canada': [0.25, 0.3],
 'Argentina': [0.22],
 'Greece': [0.45, 0.66, 0.75, 0.99, 0.15, 0.66],
 'Morocco': [0.29],
 'Tunisia': [0.68, 0.56],
 'Egypt': [0.99],
 'Jamaica': [0.61, 0.65, 0.71],
 'Switzerland': [0.73, 0.86, 0.84, 0.51, 0.99],
 'Germany': [0.45, 0.49, 0.36]}

In [2]:
success_estimates['France']

[0.66, 0.78, 0.98, 0.2]

# Ejm_2

In [3]:
Greece_list=success_estimates['Greece']
print(Greece_list)
Greece_list2=set(Greece_list)
print(list(Greece_list2))

[0.45, 0.66, 0.75, 0.99, 0.15, 0.66]
[0.45, 0.66, 0.99, 0.75, 0.15]

# Ejm_3

In [4]:
France_list=success_estimates['France']
Greece_list=success_estimates['Greece']
print(France_list)
setFranceList=set(France_list)
print(Greece_list)
setGreeceList=set(Greece_list)
print(setFranceList.intersection(setGreeceList))

[0.66, 0.78, 0.98, 0.2]
[0.45, 0.66, 0.75, 0.99, 0.15, 0.66]
{0.66}

# Ejm_4

In [5]:
#print(success_estimates)
#success_estimates[12]
#success_estimates['12']

for key, value in success_estimates.items():
    if(key=='Australia' or key=='France' or key=='Argentina' or key=='Jamaica'):
        print(key,value)

Australia [0.6, 0.33, 0.11, 0.14]
France [0.66, 0.78, 0.98, 0.2]
Argentina [0.22]
Jamaica [0.61, 0.65, 0.71]

In [6]:
list_p=['Australia','France','Argentina','Jamaica']
for key in list_p:
    print(key,success_estimates[key])

Australia [0.6, 0.33, 0.11, 0.14]
France [0.66, 0.78, 0.98, 0.2]
Argentina [0.22]
Jamaica [0.61, 0.65, 0.71]

# Ejm_5

In [7]:
for key, value in success_estimates.items():
    if(key!='Argentina' and key!='Jamaica'):
        print(key,value)

Australia [0.6, 0.33, 0.11, 0.14]
France [0.66, 0.78, 0.98, 0.2]
Italy [0.6]
Brazil [0.22, 0.22, 0.43]
USA [0.2, 0.5, 0.3]
England [0.45]
Canada [0.25, 0.3]
Greece [0.45, 0.66, 0.75, 0.99, 0.15, 0.66]
Morocco [0.29]
Tunisia [0.68, 0.56]
Egypt [0.99]
Switzerland [0.73, 0.86, 0.84, 0.51, 0.99]
Germany [0.45, 0.49, 0.36]

# Ejm_6

In [23]:
acum=0
for key,value in success_estimates.items():
    print(key,value)
    print(len(value))
    len(value)==valor
    acum+=len(value)
print("Total:",acum)

Australia [0.6, 0.33, 0.11, 0.14]
4
France [0.66, 0.78, 0.98, 0.2]
4
Italy [0.6]
1
Brazil [0.22, 0.22, 0.43]
3
USA [0.2, 0.5, 0.3]
3
England [0.45]
1
Canada [0.25, 0.3]
2
Argentina [0.22]
1
Greece [0.45, 0.66, 0.75, 0.99, 0.15, 0.66]
6
Morocco [0.29]
1
Tunisia [0.68, 0.56]
2
Egypt [0.99]
1
Jamaica [0.61, 0.65, 0.71]
3
Switzerland [0.73, 0.86, 0.84, 0.51, 0.99]
5
Germany [0.45, 0.49, 0.36]
3
Total: 40

# Ejm_7

In [5]:
dicc={}
ced=int(input("Ingrese cedula: "))
dicc["Cedula"]=ced
nom=input("Digite nombre: ")
dicc["Nombre"]=nom
apell=input("Digite apellido: ")
dicc["Apellido"]=apell
edad=int(input("Ingrese edad: "))
dicc["Edad"]=edad
print(dicc)

Ingrese cedula: 23
Digite nombre: omar
Digite apellido: rendon
Ingrese edad: 32
{'Cedula': 23, 'Nombre': 'omar', 'Apellido': 'rendon', 'Edad': 32}

# Ejm_8

In [48]:
dic={}

for i in range (3):
    key=input("Digite llave:")
    val=input("Digite valor:")
    dic[key]=val
print(dic)
if('nombre' in dic):
    print('Hola',dic['nombre'])
        #print('Hola',val)

Digite llave:nombre
Digite valor:omar
Digite llave:apellido
Digite valor:rendon
Digite llave:edad
Digite valor:32
{'nombre': 'omar', 'apellido': 'rendon', 'edad': '32'}
Hola omar

# Ejm_9

In [59]:
diccio={}
nom=[]
apel=[]
n=int(input("Ingrese cantidad:"))
for i in range (n):
    nomb=input("Digite nombre:")
    nom.append(nomb)
    apell=input("Digite apellido:")
    apel.append(apell)
print(nom)
print(apel)
if(nomb in nom and apell in apel):
    diccio['Nombre']=nom
    diccio['Apellido']=apel
print(diccio)

Ingrese cantidad:2
Digite nombre:omar
Digite apellido:rendon
Digite nombre:andrea
Digite apellido:ospina
['omar', 'andrea']
['rendon', 'ospina']
{'Nombre': ['omar', 'andrea'], 'Apellido': ['rendon', 'ospina']}

# Ejm_10

In [23]:
dictio={}
info=[]

n=int(input("Ingrese cantidad:"))
for i in range (n):
    cedu=int(input("Ingrese documento:"))
    nomb=input("Digite nombre:")
    apell=input("Digite apellido:")
    sexo=input("Ingrese sexo:")
    est_civil=input("Escriba estado civil:")
    tupla=(cedu,nomb,apell,sexo,est_civil)
    print(tupla)
    info.append(tupla)
print(info)
for tupla in info:
    if(tupla[3]=="M"):
        print("El Sr.{} {}, Identificado con cédula de ciudadania número {}, se encuentra {} ".format(tupla[1],tupla[2],tupla[0],tupla[4]))
    else:
        print("La Sra.{} {}, Identificado con cédula de ciudadania número {}, se encuentra {} ".format(tupla[1],tupla[2],tupla[0],tupla[4]))

Ingrese cantidad:2
Ingrese documento:123
Digite nombre:Andrea
Digite apellido:Ospina
Ingrese sexo:F
Escriba estado civil:Soltera
(123, 'Andrea', 'Ospina', 'F', 'Soltera')
Ingrese documento:234
Digite nombre:Omar
Digite apellido:Rendón
Ingrese sexo:M
Escriba estado civil:Soltero
(234, 'Omar', 'Rendón', 'M', 'Soltero')
[(123, 'Andrea', 'Ospina', 'F', 'Soltera'), (234, 'Omar', 'Rendón', 'M', 'Soltero')]
La Sra.Andrea Ospina, Identificado con cédula de ciudadania número123, se encuentra Soltera
El Sr.Omar Rendón, Identificado con cédula de ciudadania número234, se encuentra Soltero

# Ejm_11

In [26]:
dicc={}
datos=[]
acum_t=0
resp="si"
while(resp=="si"):
    edad=int(input("Ingrese edad:"))
    est=int(input("Ingrese estrato:"))
    sal=int(input("Ingrese salario:"))
    tupla=(edad,est,sal)
    print(tupla)
    datos.append(tupla)
    resp=input("¿Desea ingresar más datos?")
print(datos)
for tupla in datos:
    if(tupla[1]==3):
        acum_t+=tupla
        est3=acum_t
        print(est3)
    elif(tupla[1]==2):
        acum_t+=tupla
        est2=acum_t
        print(est2)
    elif(tupla[1]==1):
        acum_t+=tupla
        est1=acum_t
        print(est1)

Ingrese edad:25
Ingrese estrato:3
Ingrese salario:1000
(25, 3, 1000)
¿Desea ingresar más datos?si
Ingrese edad:32
Ingrese estrato:3
Ingrese salario:900
(32, 3, 900)
¿Desea ingresar más datos?si
Ingrese edad:22
Ingrese estrato:2
Ingrese salario:1200
(22, 2, 1200)
¿Desea ingresar más datos?si
Ingrese edad:45
Ingrese estrato:1
Ingrese salario:250
(45, 1, 250)
¿Desea ingresar más datos?no
[(25, 3, 1000), (32, 3, 900), (22, 2, 1200), (45, 1, 250)]

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'